.introContainer {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    background-color: #FFF;
    color: #273959;
    padding: 24px 24px 0px;
    border-bottom: #264654 1px solid;
 }

.csIntroBanner {
    display: flex;
    background-image: url("../../../public/coffeeshop.png");
    background-size: cover;
    width: 100%;
    min-height: 240px;
  }

  .csIntroBannerdf {
    display: flex;
    background-image: url("../../../public/dfbg.png");
    background-size: cover;
    width: 100%;
    min-height: 240px;
  }

  .csIntroBannerbb {
    display: flex;
    background-image: url("../../../public/brewtifulBg.png");
    background-size: cover;
    width: 100%;
    min-height: 240px;
  }

  .csIntroBannerDesignFlows {
      display: flex;
      background-color: #264654;
      width: 100%;
  }

  .bgRow {
      background-color: #916DF9;
      border-radius: 0;
      color: #FFF;
      padding: 48px 0;
      margin: 0;
  }

  .bgRowdf {
    background-color: #E9C46A;
    border-radius: 0;
    padding: 48px 0;
    margin: 0;
}


  .imgRound {
      border-radius: 20px;
  }

@media screen and (min-width:600px) {

    .csIntroBanner {
        display: flex;
        background-image: url("../../../public/coffeeshop.png");
        background-size: cover;
        width: 100%;
        min-height: 500px;
      }

      .csIntroBannerdf {
        display: flex;
        background-image: url("../../../public/dfbg.png");
        background-size: cover;
        width: 100%;
        min-height: 500px;
      }

      .csIntroBannerbb {
        display: flex;
        background-image: url("../../../public/brewtifulBg.png");
        background-size: cover;
        width: 100%;
        min-height: 500px;
      }

      .bgRow {
        background-color: #916DF9;
        border-radius: 20px;
        color: #FFF;
        padding: 80px 56px 0;
    }

    .bgRowdf {
        background-color: #E9C46A;
        border-radius: 20px;
        padding: 80px 56px 0;
    }

    .banner {
      display: flex;
      background-color: #f9fff4;
      border: none;
      border-radius: 40px;
      border: 2px solid #62bd19;
      text-align: left;
      padding: 24px;
      margin-top: 24px;
      color: #62bd19;
    }

    .ringContainer {
      position: relative;
  }
  
  .circle {
      width: 15px;
      height: 15px;
      background-color: #62bd19;
      border-radius: 50%;
      position: absolute;
      top: 5px;
      left: 5px;
  }
  
  .ringring {
      border: 3px solid #62bd19;
      -webkit-border-radius: 30px;
      height: 25px;
      width: 25px;
      position: absolute;
      left: 0px;
      top: 0px;
      -webkit-animation: pulsate 1s ease-out;
      -webkit-animation-iteration-count: infinite; 
      opacity: 0.0
  }
  @-webkit-keyframes pulsate {
      0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
      50% {opacity: 1.0;}
      100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
  }

  .bannerCopy {
    padding-left: 44px;
  }
}