.introContainer {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    background-color: #FFF;
    color: #273959;
    padding: 24px 24px 0px;
    border-bottom: #264654 1px solid;
 }

.csIntroBanner {
    display: flex;
    background-image: url("../../../public/coffeeshop.png");
    background-size: cover;
    width: 100%;
    min-height: 240px;
  }

  .csIntroBannerdf {
    display: flex;
    background-image: url("../../../public/dfbg.png");
    background-size: cover;
    width: 100%;
    min-height: 240px;
  }

  .csIntroBannerDesignFlows {
      display: flex;
      background-color: #264654;
      width: 100%;
  }

  .bgRow {
      background-color: #916DF9;
      border-radius: 0;
      color: #FFF;
      padding: 48px 0;
      margin: 0;
  }

  .bgRowdf {
    background-color: #E9C46A;
    border-radius: 0;
    padding: 48px 0;
    margin: 0;
}

  .imgRound {
      border-radius: 20px;
  }

@media screen and (min-width:600px) {

    .csIntroBanner {
        display: flex;
        background-image: url("../../../public/coffeeshop.png");
        background-size: cover;
        width: 100%;
        min-height: 500px;
      }

      .csIntroBannerdf {
        display: flex;
        background-image: url("../../../public/dfbg.png");
        background-size: cover;
        width: 100%;
        min-height: 500px;
      }

      .bgRow {
        background-color: #916DF9;
        border-radius: 20px;
        color: #FFF;
        padding: 80px 56px 0;
    }

    .bgRowdf {
        background-color: #E9C46A;
        border-radius: 20px;
        padding: 80px 56px 0;
    }
}