.introContainer {
    max-width: 100%;
    border-left: #916DF9 8px solid;
    margin: 80px 24px;
    padding: 10px 24px 45px;
}

.intro {
    font-size: 48px;
    font-weight: bold;
}

.bioImg {
    box-shadow: none;
    margin: 0 auto;
    max-width: 280px;
    min-width: 170px;
    border-radius: 20px;   
    box-shadow: rgba(145, 109, 249, 0.2) 0px 2px 8px 0px;
}

.btnintro {
    margin: 0 24px 0 0;
}

.blurb {
    font-size: 18px;
    margin: 0 0 40px;
}

.highlight {   
    color: #595959;    
}

.twocol {
    display: flex;
    gap: 160px;
}

.twocol div {
    flex: 1 1 auto;
}

@media screen and (min-width:600px) { 
    .introContainer {
        width: 45%;
        min-width: 550px;
    }
    
    .intro {
        font-size: 64px;
        font-weight: bold;
    }

    .bioImg {
        margin: 0 auto;
    }
    
    .blurb {
        font-size: 24px;
    }

}