.mainIntroContainer {
    max-width: 100%;
    margin: 0 auto 40px;
}

.introContainer {
    max-width: 680px;
    margin: 0 auto;
    height: auto;
    display: flex;
    text-align: center;
}

.intro {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    line-height: 1.2;
}

.introImg {
    margin: 0 auto 40px;
    width: 120px;
    border-radius: 100%;
    box-shadow: rgba(145, 109, 249, 0.2) 0px 2px 8px 0px;
    transition: all .25s ease-in-out;
    overflow: hidden;
}

.introImg:hover {
    cursor: pointer;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: rgba(145, 109, 249, 0.4) 0px 2px 40px 0px;

}

.btnintro {
    margin: 0;
}

.blurb {
    font-size: 18px;
    margin: 0;
    max-width: 600px;
}

.keyPoint {
    display: inline;
}

.keyPoint span:hover {
    color: #3EE8B5;
}

a:hover .caseStudy, a:hover .caseStudyRight, a:hover .caseStudy3 {
    opacity: 80%;
    transition: 0.3s;
}

.imgRound {
    border-radius: 8px;
    box-shadow: rgba(145, 109, 249, 0.2) 0px 2px 8px 0px;
    transition: 0.2s;
    margin: 0px;
    overflow: hidden;
    cursor: pointer;
 }

.caseStudy {
    transition: 0.3s;
    overflow: hidden;
}


.caseStudy:hover .imgRound {
    transform: scale(1.02);
}

.section{
    margin: 0 24px;
}

.sectionTitle {
    font-size: 24px;
    margin: 40px 0 24px 0;
}

.csDescription {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    line-height: 1.5;
}

.csSkills {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    line-height: 1.5;
}

.csDescriptionRight {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: 50%;
    padding: 24px 0;
}

.csTitle {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #597099;
}

.csInfo {
    font-size: 28px;
    margin: 0;
}

.csImage {
    width: 55%;
}

@media screen and (min-width:600px) {   
        .mainIntroContainer {
            display: flex;
            margin: 0px auto;            
            background-color: #FFF;
            align-items: center;
        }
        

    .introContainer {
        display: flex;
        width: 100%;
        max-width: 1000px;
        text-align: center;
    }
    
    .intro {
        font-size: 32px;
        font-weight: 500;
    }

    .imgRound {
        border-radius: 8px;
        box-shadow: rgba(145, 109, 249, 0.2) 0px 2px 8px 0px;
        transition: 0.2s;
        overflow: hidden;
        cursor: pointer;
     }
    
    .blurb {
        font-size: 20px;
    }

}