@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   html, body {
      font-family: 'Inter', sans-serif;
      font-display: swap;
      padding: 0;
      margin: 0;
      line-height: 1.6;
      font-size: 16px;
      background-color: #F1F5F9;
      color: #273959;
   }

   h1 {
      @apply text-6xl;
      @apply md:text-8xl;
      @apply font-bold;
      @apply tracking-tight;
    }
    h2 {
      @apply text-xl;
      @apply md:text-2xl;
      @apply font-semibold;
      @apply leading-tight;
      @apply mb-3;
    }
    h3 {
      @apply text-lg;
    }

   p {
      @apply mb-6;
      @apply text-base;
      @apply md:text-lg;
   }
}

* {
   box-sizing: border-box;
}

nav ul li a.active {
   color: #916DF9;
}

nav ul li a.active::after {
   content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #4f46e5;
  color: #4f46e5;
}

.active a{
   color: #4f46e5;
}